.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.day {
    height: 100px;
    width: 13%;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
}
.today {
    height: 20px;
    width: 13.5%;
    font-weight: bold;
    text-align: center;
}
.gray {
    color: silver;
    cursor: default;
}
.highlighted {
  background: silver;
}
.event {
    color: cornflowerblue;
    margin-top: 10px;
}
